<!DOCTYPE html>
<head>
    <title>
        Home | Notify
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 10px;background-color: bisque;">

    <div style="margin: 10px;text-align:center"> 
        <a href = "../Views/post.html"><h3> Post a Notification </h3></a>
        <a href = "../viewall"><h3> View All Notifications </h3></a>
        <a href = "../Views/view.html"><h3> View Notifications by Date </h3></a>
    </div>

<br><br><br>
    <p style="margin: 10px;text-align:center">Want to Contribute ?? Here is the GitHub <a href="https://github.com/shubham15gupta09/Notify"> Link </a></p>
</body>
</html>