<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        View | Notify
    </title>
</head>

<body style="margin: 10px;background-color: bisque;">

    <p style="font-size: small;color: brown;">This page is only to view the Notification !!!<br>
        <span style="font-size: small;color:black;">
            <a href="./home.html"> HOME </a><span></p>

    <div style="margin: 10px;text-align:center">
        <h3> Please Select the Date for which you want to see the Notification </h3>

        <form action="/view" method="POST" style="padding: 10px;margin: 10px;">
            <p><span style="color: red;">*</span>Date : <input type="date" id="date" name="date" 
                placeholder="mm-dd-yy format" required></p>
            <button style="padding: 5px;margin: 20px;"> View </button>
        </form>
    </div>

</body>

</html>