<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Post | Notify
    </title>
</head>

<body style="margin: 10px;font-family: 'Calibri'">

    <p style="font-size: small;color: brown;">Post Can be Done by an Authorized Person Only !!!<br>
        <span style="font-size: small;color:black;">If you want to view Notification
            <a href="./view.html"> Click Here </a><span></p>

    <div style="margin: 10px;font-family: cursive;text-align:center">
        <h3 style="color: blue;"> Enter Notification Details </h3>
    </div>

    <p><span style="color: red;font-size:small;text-align:center">*</span>All fields are required </p>

    <div style="margin: 20px;font-family: cursive;text-align:left">
        <form action="/data" method="POST" style="padding: 10px;margin: 10px;">
            <p><span style="color: red;">*</span>Heading : <input type="text" name="postname" id="postname"
                    placeholder=" Title for Notification " required></p>
            <p><span style="color: red;">*</span>Date : <input type="text" id="date" name="date" placeholder="dd-mm-yy format" required>
                <span style="font-size: x-small;">dd-mm-yy format</span></p><span style="color: red;">*</span>Content :
            <p> <textarea name="Content" rows="7" cols="" id="Content"
                    placeholder=" Discription of Notification " required></textarea></p>
            <p><span style="color: red;">*</span>Posted By : <input type="text" name="postedby" id="postedby"
                    placeholder=" Your Name " required></p>
            <p><span style="color: red;">*</span>Unique Id No. : <input type="number" name="uid" id="uid"
                    placeholder="Only Number" required></p>
            <button onclick="alertfn()" style="padding: 3px;margin: 3px;"> Post Notification </button>
        </form>
        <script>
            const alertfn = ()=>{
                alert("Posted Successfully") ;
            }
        </script>
    </div>
    <p>Guide :<br>
        Heading : Stands for the title of a Notification<br>
        Date : Can be for the event / workshop etc<br>
        Content : Can have a short description <br>
        Posted by : Is your Name<br>
        Unique Id : Is your faculty Id
    </p>
</body>

</html>